<div class="border border-gray-400 bg-gray-00 p-4 rounded-md">
  <div class="flex justify-between items-end">
    <h1 class="font-bold text-gray-700 text-2xl">Carwash</h1>
    <p class="font-semibold">2023-10-01</p>
  </div>
  <div class="flex justify-between -mt-1">
    <h1 class="font-thin">Booking id: #2</h1>
    <p class="font-semibold">20 eur</p>
  </div>
  <div class="flex justify-between mt-4">
    <h1 class="font-semibold text-gray-700">Status: Waiting</h1>
    <div class="flex gap-2">
      <button class="underline hover:cursor-pointer hover:no-underline">Edit</button>
      <p>|</p>
      <button class="underline hover:cursor-pointer hover:no-underline">Delete</button>
    </div>
  </div>
</div>
