<style>
  @import url('https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap');

  .logo {
    font-family: 'Sonsie One', sans-serif;
  }

</style>

<div class="flex width-full bg-black justify-around text-white h-20 p-4 items-center sticky top-0 z-50">
  <!-- logo -->
  <div (click)="goHome()" class="text-xl font-black logo">
    <div class=" text-orange-600 hover:cursor-pointer copy">Ben's <span class=" text-white">Garage</span>
    </div>
  </div>

  <!-- buttons -->
  <div class="buttons flex gap-8">
    <button *ngIf="currentUser === 'admin'" (click)="goAddService()"
      class="hover:underline text-orange-600 font-semibold hover:cursor-pointer">Add
      service</button>

    <button *ngIf="currentUser === 'admin'" class="hover:underline text-orange-600 font-semibold hover:cursor-pointer">
      ADMIN </button>

    <button *ngIf="currentUser === 'user'" (click)="goProfile()"
      class="hover:underline text-orange-600 font-semibold hover:cursor-pointer capitalize">{{ currentName }} </button>

    <button *ngIf="currentUser === 'guest'" (click)="goRegisterLogin()" class="px-5 py-1 font-semibold text-white bg-orange-600 hover:text-orange-600
        hover:bg-white transition-all duration-200 rounded-full hover:cursor-pointer">Sign
      in</button>

    <button *ngIf="currentUser === 'user' || currentUser === 'admin'" (click)="logout()"
      class="px-4 py-1 text-white bg-orange-600 hover:bg-white hover:text-orange-600 font-semibold rounded-full transition-all">
      Log out
    </button>
  </div>
</div>
