<div class="flex justify-center min-h-11/12">
  <div class="w-2/3 m-8 bg-white flex justify-center gap-8 h-auto">
    <div class="p-4 bg-gray-00 border border-gray-400 rounded-md shadow- w-2/5 h-fit">
      <h1 class="text-4xl text-gray-900 font-black">John Does</h1>
      <p class="mb-6 text-md font-light text-gray-600">johngmail.com</p>
      <p class="flex justify-between text-xl text-gray-600"><span>My total orders:</span><span>12</span></p>
    </div>
    <div class="w-3/5 pb-4 px-4 flex flex-col gap-6">
      <h1 class="font-black text-4xl text-gray-800">My previous booking</h1>
      <app-booking-card></app-booking-card>
      <p class="text-gray-500 text-md font-thin">No bookings yet.</p>
    </div>
  </div>
</div>
