<div
  class="card bg-white shadow-lg rounded-lg m-2 hover:shadow-xl transition-all duration-300 hover:scale-105 relative hover:cursor-pointer">
  <div class="absolute top-2 left-2 text-orange-500 bg-white px-3 py-1 rounded-md text-sm font-bold">
    {{ card.duration }} min
  </div>
  <img
    [src]="card.image ? card.image : 'https://images.contentstack.io/v3/assets/blt62d40591b3650da3/bltee515d46b1b13f83/658ee585d082f768b425faf9/hero_PN1305_HowOftenWashCar_Header-1.jpg'"
    alt="{{ card.title }}" class="w-full h-40 object-cover rounded-t-lg">
  <div class="px-4">
    <h2 class="text-xl font-bold mt-4">{{ card.title }}</h2>
    <p class="text-gray-600 font-thin text-sm line-clamp-2">{{ card.description }}</p>
    <div class="flex justify-between items-center py-4">
      <p class="font-semibold text-gray-600">Price:</p>
      <span class="font-bold text-xl">{{ card.price }}€</span>
    </div>
  </div>
</div>
