<style>
  ::ng-deep .custom-calendar mat-calendar {
    background-color: white;
    color: black;
    font-family: sans-serif;
  }

  ::ng-deep .mat-calendar-body-disabled {
    color: #828282 !important;
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed !important;
    /* background-color: #f0f0f0; */
  }

  ::ng-deep .custom-calendar mat-calendar .mat-calendar-body-cell-content,
  ::ng-deep .custom-calendar mat-calendar .mat-calendar-period-button,
  ::ng-deep .custom-calendar mat-calendar .mat-calendar-previous-button,
  ::ng-deep .custom-calendar mat-calendar .mat-calendar-next-button,
  ::ng-deep .custom-calendar mat-calendar .mat-calendar-table-header {
    color: black !important;
    font-family: sans-serif;
  }

  ::ng-deep .mat-calendar .mat-calendar-body-selected,
  ::ng-deep .mat-calendar .mat-calendar-body-active {
    background-color: #f97316 !important;
    border-radius: 100%;
    border-width: 20px;
    color: white !important;
  }

  ::ng-deep .mat-calendar .mat-calendar-body-today:not(.mat-calendar-body-selected) {
    border-color: #f97316 !important;
  }

</style>

<div class="flex justify-center bg-gray-100" autoscroll="true">
  <div class="w-2/3  flex flex-col p-8 bg-white rounded-lg mt-5 mb-10">
    <h1 class="text-3xl font-black text-gray-800">Choose date and time for the service</h1>
    <p class="text-gray-500 text-lg font- mb-4">{{name}} | {{duration}} min</p>
    <div class="flex justify-center mb-10 gap-10">
      <mat-card class="demo-inline-calendar-card w-80 bg-white custom-calendar">
        <mat-calendar [minDate]="minDate" class=" text-black" [(selected)]="selected"></mat-calendar>
      </mat-card>
      <div>
        <div class="grid grid-cols-4 h-60 gap-4">
          <button *ngFor="let time of timeSlots" (click)="selectTime(time)" [ngClass]="{
            'bg-gray-900 text-white border-0': selectedTime === time,
            'text-gray-500 border-gray-300': selectedTime !== time
          }" class="px-7 flex justify-center items-center 
                 text-md rounded-sm transition h-10 cursor-pointer font-semibold border-2" style="border: 0.5px solid">
            {{ time }}
          </button>
        </div>
        <div class="flex justify-end mt-4 relative">
          <button (click)="confirm()"
            class="px-5 py-2 hover:bg-gray-900 border border-gray-600 hover:text-white bg-white text-gray-700 hover:border-black duration-200 hover:cursor-pointer font-semibold w-fit rounded-md mt-8">
            Confirm Selection
          </button>
          <p class="absolute mt-20 font-thin text-sm text-gray-500">*Pay at site</p>
        </div>
      </div>


    </div>
    <!-- <button class="absolute right-8 bottom-8 px-4 py-2 bg-orange-500 text-white font-semibold w-fit rounded-2xl">Select
      Time</button> -->
  </div>
</div>
