<div class="flex justify-center">
    <div class="flex justify-between w-1/2 h-80 my-20">
        <div class="flex flex-col  w-1/2 justify-center items-center space-y-4">
            <h1 class="font-bold text-[34px]">Create new account</h1>
            <input type="text" placeholder="Username" class="p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500 size=20"/>
            <input type="text" placeholder="Email" class="p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500"/>
            <input type="text" placeholder="Password" class="p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500"/>
            <button class="mt-4 bg-orange-600 text-white py-2 px-4 rounded-md hover:bg-orange-700 transition">Create</button>
        </div>

        <div class="w-1 h-auto my-10 bg-gray-400 rounded-full"></div>

        <div class="flex flex-col w-1/2 justify-center items-center space-y-4">
            <h1 class="font-bold text-[34px]">Sign in</h1>
            <input type="text" placeholder="Username" [(ngModel)]="username" class="p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500"/>
            <input type="text" placeholder="Password" [(ngModel)]="password" class="p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500"/>
            <button (click)="login()" class="mt-4 bg-orange-600 text-white py-2 px-4 rounded-md hover:bg-orange-700 transition">Sign in</button>
        </div>
    </div>
</div>